In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('quis_data.csv')

In [3]:
# show column names
df.columns

Index(['id', 'name', 'city', 'country_code', 'position', 'about', 'posts',
       'groups', 'current_company', 'experience', 'url', 'people_also_viewed',
       'educations_details', 'education', 'recommendations_count', 'avatar',
       'courses', 'languages', 'certifications', 'recommendations',
       'volunteer_experience', 'followers', 'connections',
       'current_company_company_id', 'current_company_name', 'publications',
       'patents', 'projects', 'organizations', 'location', 'input_url',
       'linkedin_id', 'activity', 'linkedin_num_id', 'banner_image',
       'honors_and_awards', 'similar_profiles', 'default_avatar',
       'memorialized_account', 'bio_links'],
      dtype='object')

In [4]:
before = len(df)
df = df.drop_duplicates(subset=["linkedin_id"])
after = len(df)

print(f"Drop duplicates: {before} → {after} (removed {before - after} rows)")

Drop duplicates: 95610 → 95609 (removed 1 rows)

In [8]:
df.head(1000)

,id,name,city,country_code,position,about,posts,groups,current_company,experience,...,input_url,linkedin_id,activity,linkedin_num_id,banner_image,honors_and_awards,similar_profiles,default_avatar,memorialized_account,bio_links
0,mohamed-ishmael-b757b442,Mohamed Ishmael,"Brooklyn, New York, United States",US,CFO - University Physicians of Brooklyn,NaN,NaN,NaN,"{""link"":""https://linkedin.com/company/undefine...","[{""company"":""University Physicians of Brooklyn...",...,https://www.linkedin.com/in/mohamed-ishmael-b7...,mohamed-ishmael-b757b442,NaN,151277705,https://static.licdn.com/aero-v1/sc/h/5q92mjc5...,NaN,"[{""name"":""Dawn Willis"",""title"":null,""url"":""htt...",True,False,NaN
1,michael-gradess-22195219,Michael Gradess,"Cherry Hill, New Jersey, United States",US,"Owner, Michael Gradess, CPA",NaN,NaN,NaN,"{""link"":""https://linkedin.com/company/undefine...","[{""company"":""Michael Gradess, CPA"",""company_lo...",...,https://www.linkedin.com/in/michael-gradess-22...,michael-gradess-22195219,NaN,65052601,https://static.licdn.com/aero-v1/sc/h/5q92mjc5...,NaN,"[{""name"":""Michael Oskvig"",""title"":null,""url"":""...",True,False,NaN
2,robert-clarke-63283056,Robert Clarke,"Philadelphia, Pennsylvania, United States",US,Human Resources Consultant at Clarke Associates,NaN,NaN,NaN,"{""link"":""https://linkedin.com/company/undefine...","[{""company"":""Clarke Associates"",""company_logo_...",...,https://www.linkedin.com/in/robert-clarke-6328...,robert-clarke-63283056,NaN,199128710,https://static.licdn.com/aero-v1/sc/h/5q92mjc5...,NaN,[],True,False,NaN
3,suzanne-zwemer-1169a6101,Suzanne Zwemer,"New York, New York, United States",US,NaN,NaN,NaN,NaN,"{""name"":""Tungsten Partners""}",NaN,...,https://www.linkedin.com/in/suzanne-zwemer-116...,suzanne-zwemer-1169a6101,NaN,435425058,https://static.licdn.com/aero-v1/sc/h/5q92mjc5...,NaN,"[{""name"":""Timothy O'Loughlin"",""title"":null,""ur...",True,False,NaN
4,mike-oneil,Mike O'Neil,"Fort Lauderdale, Florida, United States",US,NaN,A seasoned professional in the technology sect...,NaN,NaN,"{""company_id"":""sap"",""link"":""https://de.linkedi...",NaN,...,https://www.linkedin.com/in/mike-oneil/,mike-oneil,"[{""id"":""7299746090277376000"",""img"":""https://me...",541121,https://media.licdn.com/dms/image/v2/C4E16AQHk...,NaN,"[{""name"":""Fortunato Adrian"",""title"":null,""url""...",False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,ann-sheridan-realtor-7b522712,"Ann Sheridan, Realtor","Manahawkin, New Jersey, United States",US,Real Estate Agent at Berkshire Hathaway HomeSe...,I enjoy helping people realize their Real Esta...,NaN,NaN,"{""company_id"":""berkshire-hathaway-homeservices...","[{""company"":""Berkshire Hathaway HomeServices Z...",...,https://www.linkedin.com/in/ann-sheridan-realt...,ann-sheridan-realtor-7b522712,"[{""id"":""1"",""img"":""https://media.licdn.com/dms/...",42356153,https://media.licdn.com/dms/image/v2/C4E16AQF9...,NaN,"[{""name"":""Joey Levy"",""title"":""Broker Associate...",False,False,NaN
996,jack-saad,Jack Saad,New York City Metropolitan Area,US,Junior at NYU Stern School of Business,NaN,NaN,NaN,"{""company_id"":""one-equity-partners"",""link"":""ht...","[{""company"":""One Equity Partners"",""company_id""...",...,https://www.linkedin.com/in/jack-saad,jack-saad,"[{""id"":""7313232717112889344"",""img"":""https://me...",894311672,https://static.licdn.com/aero-v1/sc/h/5q92mjc5...,NaN,[],False,False,NaN
997,xuyangsophieliu,Xuyang Liu,"New York, New York, United States",US,NaN,MBA Candidate @ NYU Stern\nOps Research Analys...,NaN,NaN,"{""company_id"":""nyulangonehealth"",""link"":""https...",NaN,...,https://www.linkedin.com/in/xuyangsophieliu/,xuyangsophieliu,"[{""id"":""2023"",""img"":""https://media.licdn.com/d...",693463416,https://media.licdn.com/dms/image/v2/D5616AQFf...,NaN,"[{""name"":""Hui Yang"",""title"":""Data Science Prof...",False,False,NaN
998,mike-rahman-765b8b54,Mike Rahman,"Minneapolis, Minnesota, United States",US,NaN,NaN,NaN,NaN,"{""company_id"":""laborfirst"",""link"":""https://www...",NaN,...,https://www.linkedin.com/in/mike-rahman-765b8b54,mike-rahman-765b8b54,"[{""id"":""7310070460988215297"",""img"":""https://me...",194026109,https://media.licdn.com/dms/image/v2/D5616AQEF...,"[{""date"":""2012-05-01T00:00:00.000Z"",""descripti...","[{""name"":""Lewis Rife"",""title"":null,""url"":""http...",False,False,NaN
999,jonathan-kim-8a89a620,Jonathan Kim,New York City Metropolitan Area,US,NaN,NaN,NaN,NaN,"{""company_id"":""hps-investment-partners-llc"",""l...",NaN,...,https://www.linkedin.com/in/jonathan-kim-8a89a620,jonathan-kim-8a89a620,"[{""id"":""7317583697593978880"",""img"":""https://me...",74122112,https://static.licdn.com/aero-v1/sc/h/5q92mjc5...,NaN,"[{""name"":""Roshan Punjabi"",""title"":null,""url"":""...",True,False,NaN

In [14]:
df[df['id'].str.contains("You can", case=False, na=False)]

Empty DataFrame
Columns: [id, name, city, country_code, position, about, posts, groups, current_company, experience, url, people_also_viewed, educations_details, education, recommendations_count, avatar, courses, languages, certifications, recommendations, volunteer_experience, followers, connections, current_company_company_id, current_company_name, publications, patents, projects, organizations, location, input_url, linkedin_id, activity, linkedin_num_id, banner_image, honors_and_awards, similar_profiles, default_avatar, memorialized_account, bio_links]
Index: []

[0 rows x 40 columns]